*{
    margin: 0px;
    padding: 0px;
}
body{
    
    font-family: 'Gabarito',sans-serif;
    flex-wrap: wrap;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid black 2px;
    gap: 15px;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
    
}

.navbar__1__title{
    color: blueviolet;
    align-items: center;
}
.navbar__2{
    padding: 10px;
    border: solid black 1px; 
    border-radius: 30px;
    width: 50%; 
    display: flex;
    gap: 20px;
    align-items: center;
}
.navbar__2 input{
    border: none;
    font-size: 15px;
    background-color: transparent;
}
.navbar__2 input:focus{
    outline: none;
}
.navbar__3{
    display: flex;
    gap: 30px;
    align-items: center;
}
.navbar__4{
    align-items: center;
    display: none;
}
.sale_image{
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
}
.sale_image img{
    width: 100%;

}
.sale-image__offer{
    width: 20%;
    border: solid black 2px;
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 20%;
    left: 6%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    flex-grow: 1;
    flex-basis: 1;
}
@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

/* My learning Popup */
.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 2px;
    width: 92px;
    top: 150%;
    padding: 10px;
    right: 0;
    display: none;
}
.mylearning:hover .mylearning__popup{
    display: block;
}
.categories{
    display: flex;
    padding: 15px;
    justify-content: space-around;
    border-bottom: solid black 2px;
}
.categories p{
    border-radius: 30px;
    padding: 10px;
    background-color:#8A2BE2;
    color: white;
    cursor: pointer;
    border: solid purple 2px;
}
.categories p:hover{
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid purple 2px;
}



.course_title{
    padding: 20px;
}
.course_container{
   
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
} 

.course_title p{
    margin-top: 10px;
}

.course_card{
  
    flex-grow: 1;
    flex-basis: 20%;
    margin:5px;
}
.course_card img{
    width: 100%;
    height: 50%;
}

.topics{
    padding: 20px;
}
.topics__container {
    display: flex;
    margin-top: 5px;
    flex-wrap: wrap;
    gap: 10px;
   
}
.topics__container p{
    border: solid gray 2px;
    flex-grow: 1;
    padding: 15px;
    flex-basis: 25%;
} 

.popular{
    padding: 20px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.footer{
    padding: 25px;
    background-color: black;
    color: white;
    margin-top: 20px;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
@media screen and (max-width:700px){
    body{
        font-size: 20px;
    }
    .course_card{
        flex-basis: 40%;
    }
    .categories{
        display: none;
    }
    .navbar__2, .navbar__3{
        display: none;
    }
    .sale-image__offer{
        width: 30%;
        font-size: 12px;
    }
    .navbar__4{
        display: block;
    }
}